In [1]:
import pandas as pd
import numpy as np
import json
#import streamlit

## Read in Followers

In [2]:
# Load the JSON file into a Python object
with open('data/connections/followers_and_following/followers_1.json', 'r') as f:
    data = json.load(f)
# Create a Pandas DataFrame from the Python object
followers_df = pd.json_normalize(data, record_path='string_list_data')
# Convert the Unix time column to Pandas datetime
followers_df['timestamp'] = pd.to_datetime(followers_df['timestamp'], unit='s')

# Rename columns
followers_df.columns = ['user_link', 'user_id', 'timestamp']
# Reorder the columns
followers_df = followers_df[['user_id', 'user_link','timestamp']]

In [3]:
followers_df

,user_id,user_link,timestamp
0,pablog_9,https://www.instagram.com/pablog_9,2024-01-28 02:42:39
1,helenaz_0831,https://www.instagram.com/helenaz_0831,2024-01-26 23:34:08
2,tim_rickli,https://www.instagram.com/tim_rickli,2024-01-26 12:22:03
3,miels482,https://www.instagram.com/miels482,2024-01-20 15:05:32
4,ew4.jpg,https://www.instagram.com/ew4.jpg,2024-01-20 15:05:30
...,...,...,...
436,xns000,https://www.instagram.com/xns000,2016-10-14 14:33:20
437,hanson930618,https://www.instagram.com/hanson930618,2016-10-06 14:58:12
438,sarrrrrraaaahhh,https://www.instagram.com/sarrrrrraaaahhh,2016-09-23 17:02:52
439,tomlinson.jared_,https://www.instagram.com/tomlinson.jared_,2016-09-22 06:33:55
440,ethan_parajon,https://www.instagram.com/ethan_parajon,2016-09-20 14:50:29

# Read in Following

In [4]:
import json
import pandas as pd

# Load the JSON file as a dictionary
with open("data/connections/followers_and_following/following.json", "r") as f:
    data = json.load(f)

# Create an empty list to store the string_list_data
temp_data = []

# Loop through the relationships_following key in the data dictionary
for item in data["relationships_following"]:
    # Append the string_list_data value to the list
    temp_data.append(item["string_list_data"])

# Flatten the list of lists into a single list
temp_data = [x for sublist in temp_data for x in sublist]

# Convert the list into a pandas dataframe
following_df = pd.DataFrame(temp_data)

# Convert the Unix time column to Pandas datetime
following_df['timestamp'] = pd.to_datetime(following_df['timestamp'], unit='s')

# Rename columns
following_df.columns = ['user_link', 'user_id', 'timestamp']
# Reorder the columns
following_df = following_df[['user_id', 'user_link','timestamp']]

In [5]:
following_df

,user_id,user_link,timestamp
0,pablog_9,https://www.instagram.com/pablog_9,2024-01-28 06:22:00
1,helenaz_0831,https://www.instagram.com/helenaz_0831,2024-01-26 23:28:11
2,tim_rickli,https://www.instagram.com/tim_rickli,2024-01-26 12:14:43
3,miels482,https://www.instagram.com/miels482,2024-01-20 15:05:21
4,ew4.jpg,https://www.instagram.com/ew4.jpg,2024-01-20 14:55:43
...,...,...,...
422,biancaaroses,https://www.instagram.com/biancaaroses,2016-10-14 18:58:55
423,sexy_parmesan_cheese,https://www.instagram.com/sexy_parmesan_cheese,2016-10-14 14:39:05
424,schlegelsbagel,https://www.instagram.com/schlegelsbagel,2016-10-14 14:37:42
425,sarrrrrraaaahhh,https://www.instagram.com/sarrrrrraaaahhh,2016-09-23 17:03:07
426,tomlinson.jared_,https://www.instagram.com/tomlinson.jared_,2016-09-22 06:39:43

# Merge and Find

In [6]:
# Assume df1 and df2 are your dataframes with user_id column
merged = followers_df.merge(following_df, on='user_id', how='outer', suffixes= ('_follower','_following') ,indicator=True)

In [7]:
# Filter the merged dataframe by the _merge column
left_only = merged[merged['_merge'] == 'left_only'] # People you are not following back
right_only = merged[merged['_merge'] == 'right_only'] # People who are not following you

# Extract the user_id column as lists
you_not_follow = left_only[['user_id', 'user_link_follower','timestamp_follower']]
not_follow_you = right_only[['user_id', 'user_link_following','timestamp_following']]

# Rename the columns
you_not_follow.columns = ['user_link', 'user_id', 'timestamp']
not_follow_you.columns = ['user_link', 'user_id', 'timestamp']

In [8]:
you_not_follow.shape[0]

23

In [9]:
not_follow_you.shape[0]

9